{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

# ctr + alt + shift + L to format code
{% block content %}
{% include 'adminNavigation.html' %}
<div class="container">

    </br>
    <div class="py-5 text-center font-weight-bold">
        <h2>Core Courses</h2>
        </br>
        <p class="my-3 text-muted text-center">
            This page can be used to add, update or delete core courses for the Internet Applications and Web Development Program.
        </p>

        <hr class="mb-4">
    </div>


    <!--The first form for table course overview-->
    <div id="Courses" class="tabcontent">

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCreate">Add New Course</button>

        <div class="row" id="messageBox" style="height: 50px;">
            {% if success %}
            <div class="col-md-12"><label id="sucessConfirmation" class="form-control alert-success d-flex justify-content-center text-center" >{{message}}</label></div>
            {% elif failure %}
            <div class="col-md-12"><label id="errorConfirmation" class="form-control alert-danger d-flex justify-content-center text-center" >{{message}}</label></div>
            {% endif %}
        </div>

        </br>

        <table class="table table-bordered table-striped ">
            <thead class="thead-light">
            <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Course Title</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for course in allCoreCourses %}
            <tr>
                <td class="courseCodeTd">{{course['core_course_num']}}</td>
                <td class="courseTitleTd">{{course['title']}}</td>
                <td>
                    <button type="button" class="btn btn-success editBtn" data-toggle="modal" data-target="#myModal">Update
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger deleteBtn" data-toggle="modal" data-target="#myModalDelete">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

    <!--   The second form for modal box update-->
    <div class="modal fade" id="myModal" name="nameModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Course Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <form class="needs-validation" action="{{ url_for('coreCourses.coreCourses') }}" method="post" id="editCourse" name="editCourse">
                    <div class="modal-body">

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Code</label>
                            <div class="col-sm-9">
                                <input type="hidden" id="oldCourseCode" name="oldCourseCode" >
                                <input type="text" class="form-control-plaintext" id="editCourseCodeInput" name="editCourseCodeInput" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="editCourseTitleInput" name="editCourseTitleInput">
                            </div>
                        </div>
                        <p class="text-danger text-center" id="editCourseError" style="display: none;"></p>
                    </div>
                    <div class="modal-footer">
                        </br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Save" id="confirmEditBtn" name="confirmEditBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--   The third form for modal box create new course-->
    <div class="modal fade" id="myModalCreate" name="nameModalCreate" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <form class="needs-validation" action="{{ url_for('coreCourses.coreCourses') }}" method="post" id="addCourse" name="addCourse">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" >Course Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="courseCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Course Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="courseTitle">
                            </div>
                        </div>
                        <p class="text-danger text-center" id="addCourseError" style="display: none;"></p>
                    </div>
                    <div class="modal-footer">
                        </br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" name="addBtn" id="addBtn" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--   The fourth form for modal box delete course-->
    <div class="modal fade" id="myModalDelete" name="nameModalDelete" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header detele-header">
                    <h5 class="modal-title">Delete Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <form class="needs-validation" action="{{ url_for('coreCourses.coreCourses') }}" method="post" id="deleteCourse" name="deleteCourse">
                    <div class="modal-body">
                        <p class="text-center font-weight-bold">Are you sure to delete the course?</p>
                    </div>
                    <div class="modal-footer">
                        </br>
                        <input type="text" id="courseDeleteInput" name="courseDeleteInput" value="test" style="display: none;"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" name="confirmDeleteBtn" value="OK">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="container">
    <p class="float-right">© Algonquin College 2019-2020</p>
</footer>

<script type="text/javascript" src="/static/coreCourses.js"></script>

<style>
html, body {
  height: 100%;
}


/* Set the fixed height of the footer here */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #006341;
    padding-top: 15px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  height: 100%;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}


.modal-header {
background-color: #66b45f;
}
.detele-header {
background-color: #d66464;
}

#messageBox{
    margin-top: 25px;
}

.alert-danger, .alert-success{
    border: none;
    box-shadow: none;
}


</style>
{% endblock %}

