{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}
# ctr + alt + shift + L to format code
# ctr +shift + / : to comment blocks of code
{% block content %}
{% include 'adminNavigation.html' %}
<div class="container">
    </br>
    <div class="text-center font-weight-bold">
        <h2>Course Progression</h2>
        </br>
        <p class="my-3 text-muted text-left">
            This page can be used to add, update or delete core course sequence and their prerequisites for the Internet Applications and Web Development Program
        </p>

        <hr class="mb-4">
    </div>

    <div>

        <div>

            <form action="{{ url_for('courseProgression.courseProgression') }}" method="post" id="createProgramForm" name="createProgramForm">
                <table class="formTable" style="width:100%">
            <tbody></tbody>
            <tr>
              <td><label for="sequence" class="col-form-label courseInputField text-center">Sequence</label></td>
              <td><label for="sequence" class="col-form-label courseInputField text-center">Course</label></td>
              <td><label for="sequence" class="col-form-label courseInputField text-center" id="prereqLabel1" >Pre-req 1</label></td>
              <td><label for="sequence" class="col-form-label courseInputField text-center" id="prereqLabel2" style="display: none;">Pre-req 2</label></td>
              <td><label for="sequence" class="col-form-label courseInputField text-center" id="prereqLabel3" style="display: none;">Pre-req 3</label></td>
              <td><label for="sequence" class="col-form-label courseInputField text-center" id="prereqLabel4" style="display: none;">Pre-req 4</label></td>
              <td><label for="sequence" class="col-form-label courseInputField text-center" id="prereqLabel5" style="display: none;">Pre-req 5</label></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control" id="sequence" name="sequence" required></td>
              <td><input type="text" class="form-control courseInputStyle" id="courseCode" name="courseCode" required></td>
              <td><input type="text" class="form-control courseInputStyle" id="prereqCode1" name="prereqCode1"  placeholder="None"></td>
              <td><input type="text" class="form-control courseInputStyle" id="prereqCode2" name="prereqCode2"  placeholder="None"  style="display: none;"></td>
              <td><input type="text" class="form-control courseInputStyle" id="prereqCode3" name="prereqCode3"  placeholder="None"  style="display: none;"></td>
              <td><input type="text" class="form-control courseInputStyle" id="prereqCode4" name="prereqCode4"  placeholder="None"  style="display: none;"></td>
              <td><input type="text" class="form-control courseInputStyle" id="prereqCode5" name="prereqCode5"  placeholder="None"  style="display: none;"></td>

            </tr>
        </tbody>
        </table>

                <div class="form-group row">
            <div class="col-sm-10 addFormButtonsDiv">
                <button type="submit" class="btn btn-success my-1" id="addBtn" name="addBtn">Add Progression</button>
                <button type="reset" class="btn otherBtn1 my-1" value="Reset" id="clearBtn">Clear Form</button>
                <button type="button" class="btn otherBtn1 my-1" id="prereqBtn">Add Another Prerequisite</button>
            </div>
        </div>
            </form>


            <div class="row" id="messageBox">
                {% if success %}
                <div class="col-md-12"><label id="sucessConfirmation" class="form-control alert-success d-flex justify-content-center text-left" >{{message}}</label></div>
                {% elif failure %}
                <div class="col-md-12"><label id="errorConfirmation" class="form-control alert-danger d-flex justify-content-center text-left" >{{message}}</label></div>
                {% endif %}
            </div>

            <!--   The form for modal box delete course-->
            <div class="modal fade" id="myModalDelete" name="nameModalDelete" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header detele-header">
                            <h5 class="modal-title">Delete Course Progression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="far fa-times-circle"></i>
                            </button>
                        </div>
                        <form class="needs-validation" action="{{ url_for('courseProgression.courseProgression') }}" method="post" id="deleteCourse" name="deleteCourse">
                            <div class="modal-body">

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Sequence</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control-plaintext" id="sequenceDeleteInput" name="sequenceDeleteInput" value="test" readonly/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Course Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control-plaintext"  id="courseDeleteInput" name="courseDeleteInput" value="test" readonly/>
                                    </div>
                                </div>

                                <input type="hidden" class="prerequisite_1" name="prerequisite_1" value=""  >
                                <input  type="hidden" class="prerequisite_2"  name="prerequisite_2" value=""  >
                                <input  type="hidden" class="prerequisite_3"  name="prerequisite_3" value=""  >
                                <input  type="hidden" class="prerequisite_4"  name="prerequisite_4" value=""  >
                                <input  type="hidden" class="prerequisite_5"  name="prerequisite_5" value=""  >

                                <p class="text-left font-weight-bold">Are you sure you want to delete the course progression?</p>
                            </div>
                            <div class="modal-footer">
                                </br>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-success" name="confirmDeleteBtn" value="OK">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--   The second form for modal box update  -->
            <div class="modal fade" id="myEditModal" name="nameModalEdit" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Course Progression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="far fa-times-circle"></i>
                            </button>
                        </div>
                        <form class="needs-validation" action="{{ url_for('courseProgression.courseProgression') }}" method="post" id="editCourse" name="editCourse">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Course Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control-plaintext" id="courseEditInput" name="courseCode" value="test" readonly />
                                        <input type="hidden" id="oldCourseEditInput" name="oldCourseCode" value="test"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pre-req 1</label>
                                    <div class="col-sm-9">
                                        <input type="text"  class="form-control" id="prereq1EditInput" name="prerequisite_1" value="test"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pre-req 2</label>
                                    <div class="col-sm-9">
                                        <input type="text"  class="form-control" id="prereq2EditInput" name="prerequisite_2" value="test"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pre-req 3</label>
                                    <div class="col-sm-9">
                                        <input type="text"  class="form-control" id="prereq3EditInput" name="prerequisite_3" value="test"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pre-req 4</label>
                                    <div class="col-sm-9">
                                        <input type="text"  class="form-control" id="prereq4EditInput" name="prerequisite_4" value="test"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pre-req 5</label>
                                    <div class="col-sm-9">
                                        <input type="text"  class="form-control" id="prereq5EditInput" name="prerequisite_5" value="test"/>
                                    </div>
                                </div>

                                <p class="text-danger text-left" id="editCourseError" style="display: none;"></p>
                            </div>
                            <div class="modal-footer">
                                </br>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-success" value="Save" id="confirmEditBtn" name="confirmEditBtn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <table class="table table-bordered table-striped ">

                <thead class="thead-light">
                <tr>

                    <th scope="col" class="text-center col-sm-2">Seq</th>

                    <th scope="col" class="text-center col-sm-2">Course</th>

                    {% for i in range(1,6) %}

                    {% if i<=largestSize %}

                    <th scope="col" class="text-center col-sm-2">Prerequisite {{i}}</th>

                    {% endif %}

                    {% endfor %}

                    <th scope="col" class="text-center col-sm-2"></th>

                    <th scope="col" class="text-center col-sm-2"></th>
                </tr>
                </thead>
                <tbody>
                {% for course in allCoreCourses %}
                <form action="{{ url_for('courseProgression.courseProgression') }}" method="post" id="testForm2" name="testForm2">

                    <tr class="{% if course['core_course_num'] == updatedCourse %} {{ rowClass }} {% endif %}">
                        <td class="sequenceCell">
                            <input type="hidden" class="text-center .bg-secondary sequence" name="sequence" value="{{course['sequence']}}">
                            <span class="sequenceSpan">{{course['sequence']}}</span>
                        </td>
                        <td>
                            <input class="text-center custom .bg-secondary col-sm-2 courseCode" name="courseCode" value="{{course['core_course_num']}}" style="display:none">
                            <input type="hidden" class="text-center custom .bg-secondary col-sm-2 courseCode" id="oldCourseCode" name="oldCourseCode" value="{{course['core_course_num']}}">
                            <span class="courseCodeSpan">{{course['core_course_num']}}</span>
                        </td>
                        {% for i in range(1,6) %}

                        {% if i<=largestSize %}

                        <td>
                            <input class="text-center custom .bg-secondary col-sm-2 prereqInput prerequisite_{{loop.index}}" name="prerequisite_{{loop.index}}" value="{{course['prerequisites'][loop.index-1]}}"  style="display:none">
                            <span class="prereqSpan">{{course['prerequisites'][loop.index-1]}}</span>
                        </td>

                        {% endif %}

                        {% endfor %}
                        <td>
                            <button id="editBtn_{{loop.index - 1}}" name="editBtn_{{loop.index}}" class="btn editBtn"  data-toggle="modal" data-target="#myEditModal">Update</button>
                            <button type="submit" id="saveBtn_{{loop.index - 1}}" name="saveBtn_{{loop.index}}" class="btn btn-success saveBtn" style="display: none;">Save</button>
                        </td>
                        <td>
                            <button type="submit" id="deleteBtn_{{loop.index - 1}}" name="deleteBtn_{{loop.index}}" class="btn deleteBtn"  data-toggle="modal" data-target="#myModalDelete">Delete</button>
                            <button type="submit" id="cancelBtn_{{loop.index - 1}}" name="cancelBtn_{{loop.index}}" class="btn cancelBtn" style="display: none;">Cancel</button>
                        </td>
                    </tr>

                </form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- end-container class  -->

</div>



<script type="text/javascript" src="/static/courseProgression.js"></script>


<style>

    #sequence{
        width: 50%;
        margin-left: 0%;
        margin-right: -25px;
    }

    .courseInputStyle{
        width: 90%;
        margin-left: 0%;
    }

    select {
    background-color:transparent;
    border:0px;
    outline:0px;
    width:100%;
    }

    .custom {
    background-color: #f3f4f7;
    border:0px;
    outline:0px;
    width: 80%;
    }

    .container {
    padding-bottom: 100px;
    }

    .gap {
     display: flex;
     justify-content: center;
    }
    .gapbutton {
     margin: 15px;
    }

    input:hover, select:hover {
    color: #ff0000;
    }

    .addFormButtonsDiv{
    margin-top: 25px;
    }



    .updatedRow{
     background-color: #dff0d8
    }

    .errorRow{
     background-color: #f2dede
    }



    .sequenceInputField{
    padding-left: 20px;
    width: 150px;
    }

    .table{
        table-layout: fixed;
    }

    .table td, .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            text-align: center;
    }

    .alert-danger, .alert-success{
        border: none;
        box-shadow: none;
    }

    .modal-header {
    background-color: #24651f;
    }
    .detele-header {
    background-color: #965057;
    }

    .modal-title{
    color: white;
    }

    .deleteBtn{
        background: #ba6161;
        border-color: #dc3545;
        color: white;
    }

    .deleteBtn:hover{
        background: #993636;
        color: white;
    }

    .otherBtn1{
        background: #44658f;
        color: white;
    }

    .otherBtn1:hover{
        background: #445a76;
        color: white;
    }

    .editBtn{
        background: #478d57;
        border-color: #28a745;
        color: white;

    }

    .editBtn:hover{
        background: #3c6b47;
        color: white;
    }

    .fa-times-circle{
     color: white;
    }

    </style>


{% endblock %}

