{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}

{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Programs Page</h2>
        <p class="my-3 text-muted">
            The administrator can use this page to change the program and course information
        </p>

        <hr class="mb-4">
    </div>
</div>

<script  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="  crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/programs.js"></script>

<footer class="container ">
  <p class="float-right">© Algonquin College 2019-2020</p>
</footer>

{% endblock %}
