{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}

{% block content %}
<div class="container">

    <form id="reportForm" action="{{ url_for('studentsReport.studentsReport') }}" method="post"
        class="needs-validation">

        <div class="py-5 text-center ">
            <h2>Students Reports Page</h2>
            <p class="my-3 text-muted">
                The administrator can use this page to generate student reports
            </p>

            <hr class="mb-4">
        </div>

        <div class="input-group">



            <div class="col-md-2 mb-6">
                <select id="level" name="level" class="custom-select">
                    <option value="0">Choose Level...</option>
                    {% for level in levels %}
                    {% if level == values['level'] %}
                    <option value="{{level}}" selected>{{level}}</option>
                    {% else %}
                    <option value="{{level}}">{{level}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <div class="invalid-feedback">
                    Program Level
                </div>
            </div>
            <div class="col-md-2 mb-6">
                <button type="submit" class="btn btn-success my-1" id="submitBtn">View Report</button>
            </div>

        </div>
    </form>

    <div class="form-group row col-md-12" id="messageBox" style="height: 100px;">

        <div class="col-md-10"><label id="errorConfirmation" class="form-control alert-danger"
                style="display: none; text-align: center;"></label></div>
    </div>




    {% if showMessage %}
    <div class="alert alert-danger">
                No Student Data is available
    </div>
    {% endif %}

    {% if failedStudentsRecords|length > 0 or passedStudentsRecords|length > 0%}

    <div id="reportTables" >

        {% if failedStudentsRecords|length > 0 %}

        <p>Students who failed</p>



        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Student Number</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Progression Map</th>
                </tr>
            </thead>
            <tbody >
                {% for student in failedStudentsRecords %}
                <tr>
                    <td>
                        {{ student['student_num'] }}
                    </td>
                    <td>
                        {{ student['fname'] + " " + student['lname']}}
                    </td>
                    <td>
                        <a href="{{ url_for('viewFlowchart', sid= student['sid'], sVersion=student['program_version'], sProgram=student['pid'], sLevel=student['level'], sCourse='null') }}"
                            class="badge badge-flowchart" title="Course flowchart" value="{{ student['sid'] }}"><i
                                class="fas fa-project-diagram"></i></a>
                    </td>


                </tr>
                {% endfor %}
            </tbody>

        </table>

        {% endif %}


        {% if passedStudentsRecords|length > 0 %}

        <p>Students who passed</p>



        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Student Number</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Progression Map</th>
                </tr>
            </thead>
            <tbody >
                {% for student in passedStudentsRecords %}
                <tr>
                    <td>
                        {{ student['student_num'] }}
                    </td>
                    <td>
                        {{ student['fname'] + " " + student['lname']}}
                    </td>
                    <td>
                        <a href="{{ url_for('viewFlowchart', sid= student['sid'], sVersion=student['program_version'], sProgram=student['pid'], sLevel=student['level'], sCourse='null') }}"
                            class="badge badge-flowchart" title="Course flowchart" value="{{ student['sid'] }}"><i
                                class="fas fa-project-diagram"></i></a>
                    </td>


                </tr>
                {% endfor %}
            </tbody>

        </table>

        {% endif %}

    </div>




    {% endif %}

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/studentsReport.js"></script>

<footer class="container ">
    <p class="float-right">© Algonquin College 2019-2020</p>
</footer>

{% endblock %}
