{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"
        xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %}

<div class="container">

    <div class="py-5 text-center">
        <h1>Upload Students' Grade Report</h1>

        <form id="uploadForm" action="{{ url_for('uploadGrade2DB') }}" method="post" class="needs-validation"
              enctype="multipart/form-data">

            <div class="input-group mt-5 mb-3 w-50 mx-auto border border-dark rounded">
                <div class="invalid-feedback">
                    Please choose a valid file.
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".csv" id="inputFile" name="inputFile" required>
                    <label class="custom-file-label text-dark" for="inputFile">Choose a comma-separated values file(.csv)</label>
                </div>
            </div>
            <div class="mx-auto mb-3">
                <input type="submit" class="btn btn-success" value="Upload Grade" id="uploadGrade">
            </div>

            {% if show %}
            <div id="uploadStatus">
                {% if success_records_count %}
                <div class="py-3 text-left text-primary">
                    <h4 class="ml-5"><span style="font-size:20pt" class="text-dark">{{ fileName }}</span>
                        was successfully uploaded to the database </h4>
                    <h4 class="ml-5">Total number of Grade Records uploaded :
                        <span class="text-dark" style="font-size:20pt">{{ success_records_count }} record/s </span>
                    </h4>
                    <h4 class="ml-5">Total number of Students on file :
                        <span class="text-dark" style="font-size:20pt">{{ students_count }} student/s </span>
                    </h4>
                </div>
                {% endif %}

                {% if error_records_count %}
                <div class="text-left py-3 text-danger">
                    <h4 class="ml-5">Errors were detected in the CSV file</h4>
                    <h4 class="ml-5">Total number of Error Records found :
                        <span class="text-dark" style="font-size:20pt">{{ error_records_count }} record/s </span></h4>
                    <h4 class="ml-5">Error file saved at:
                        <span class="text-dark" style="font-size:15pt">{{ destination_path }}</span></h4>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </form>
    </div>
</div>


<script>
    document.querySelector('.custom-file-input').addEventListener('change',function(e){
      var fileName = document.getElementById("inputFile").files[0].name;
      var nextSibling = e.target.nextElementSibling
      nextSibling.innerText = fileName

      document.getElementById("uploadStatus").style.visibility = "hidden";

    });

</script>

{% endblock %}

