{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

{{ super() }}
<script type=text/javascript>
    $( document ).ready(function() {
        if({{ show }})
        {
            alert("{{ fileName }} is uploaded.")
        }

        function loadingfadeOut() {
            console.log("loadingfadeOut!");
            $('#loading').fadeOut();
        }

        function handleLoading() {
            console.log("loadingfadeIn!");
            $('#loading').fadeIn();
            {#$.post("{{ url_for('uploadGrade2DB') }}");#}
        }

        function afterLoading()
        {
            console.log("afterLoading!");
        }

    });

</script>

{% endblock %}

{% block content %}

<div class="container">

    <div class="py-5 text-center">
        <h2>Upload Students' Grade Report</h2>

        <form id="uploadForm" action="{{ url_for('uploadGrade2DB') }}" method="post" class="needs-validation"
              enctype="multipart/form-data">

            <hr class="mb-4">
            <div class="input-group">
                <div class="invalid-feedback">
                    Please choose a valid file.
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".csv" id="inputFile" name="inputFile" required>
                    <label class="custom-file-label" for="inputFile">Choose .csv file</label>
                </div>

                <div class="input-group-append">
                    <input type="submit" class="btn btn-success" value="Upload Grade" id="uploadGrade">
                </div>

            </div>
        </form>
    </div>
</div>

<script>
    document.querySelector('.custom-file-input').addEventListener('change',function(e){
      var fileName = document.getElementById("inputFile").files[0].name;
      var nextSibling = e.target.nextElementSibling
      nextSibling.innerText = fileName
    });

</script>

<footer class="container ">
    <p class="float-right">© Algonquin College 2019-2020</p>
</footer>


{% endblock %}

