{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='accm.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.css">
    <script  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    {{ super() }}
    <style>
      .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 24px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      #backToStudentReport{

      }

      #backToGradeBook{
        margin-left: 10px;
      }

      #leftButton{

      }

      #rightButton{
        margin-left: 15px;
      }

      </style>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.js"></script>

    <script type=text/javascript>
    var flowchart_courses = {{ flowchart_courses|tojson }}
    var prerequisite_links = {{ prerequisite_links|tojson }}
    var student_results = {{ student_results|tojson }}
    var admin_session = {{ admin_session|tojson }}

    $( document ).ready(function()
    {
        $(".hBack").on("click", function(e){
            e.preventDefault();
            window.history.go(-1);
        });
    });

    function validateGrade() {
        console.log('validategrade');
        // retrieve grade input
        var getGrade = $('input#inputGradeFlowchart').val();
        var valid = true;
        $('p#editGradeError').text('');

        if (getGrade.length == 0) {
            console.log('you must enter grade');
            $('p#editGradeError').text('Please enter a grade');
            valid = false;
        }
        else if (getGrade.length > 2) {
            console.log('too many chars');
            $('p#editGradeError').text('Invalid value');
            valid = false;
        }

        console.log(getGrade);
        return valid;
    }

    </script>

    <script src="/static/flowchart.js"></script>
    {{super()}}


{% endblock %}

{% block content %}

    <div class="w-100 py-5 text-center">
    <h1>Student Program Progress</h1>
        <h2> {{ studentName }} <span style="font-size: 28px;color: darkgreen;"> [{{ studentNum }}]</span></h2>
    </div>
    <div class="container"  id="buttonPlace">

     {% if bBackKey %}

         <table>
            <tr>
                <td>
                     <form id="backForm" action="{{ url_for('viewGrade') }}" method="post">
                        <input type="text" class="form-control-plaintext" name = "version" id="version" value="{{ v['version'] }}" hidden>
                        <input type="text" class="form-control-plaintext" name = "program" id="program" value="{{ v['program'] }}" hidden>
                        <input type="text" class="form-control-plaintext" name = "level" id="level" value="{{ v['level'] }}" hidden>
                        <input type="text" class="form-control-plaintext" name = "course" id="course" value="{{ v['course'] }}" hidden>
                            <button type="submit" class="btn btn-secondary" type="button" id="backToStudentReport"><i class="fas fa-chevron-circle-up" title="Back to Student Grade"><span style="font-family: Calibri;">  Grade Book</span></i></button>
                     </form>
                </td>
                <td>
                    <form id="backStudentReport" action="{{ url_for('studentsReport.studentsReport') }}" method="post">
                         <input type="text" class="form-control-plaintext" name = "versionReport" id="versionReport" value="{{ v['version'] }}" hidden>
                         <input type="text" class="form-control-plaintext" name = "programReport" id="programReport" value="{{ v['program'] }}" hidden>
                         <input type="text" class="form-control-plaintext" name = "levelReport" id="levelReport" value="{{ v['level'] }}" hidden>
                         <input type="text" class="form-control-plaintext" name = "courseReport" id="courseReport" value="{{ v['course'] }}" hidden>
                         <button type="submit" class="btn btn-secondary" type="button" id="backToGradeBook"><i class="fas fa-chevron-circle-down" title="Back to Student Report"><span style="font-family: Calibri;">  Students Report</span></i></button>
                    </form>
                </td>
            </tr>
        </table>
     {% endif %}

          <div style="display: inline-block; float: right; margin-top: -25px;">
            <label>View</label>
            <label class="switch">
              <input type="checkbox" id="view" onclick="viewFlowchart()">
              <span class="slider round"></span>
            </label>
            &nbsp;
            <label>GenEd</label>
            <label class="switch">
              <input type="checkbox" checked id="genEd" onclick="viewFlowchart()">
              <span class="slider round"></span>
            </label>
          </div>


        <hr>
         <table>
         <tr>
             <td>
                 <form id="navigatePrevForm" action="{{ url_for('viewFlowchart', sid= v['prevSID'], sVersion=v['version'], sProgram=v['program'], sLevel=v['level'], sCourse=v['course'] ) }}" >
                    <button type="submit" class="btn btn-secondary" type="button" id="leftButton"><i class="fas fa-chevron-left"></i></button>
                 </form>
             </td>
             <td>
                 <form id="navigateNextForm" action="{{ url_for('viewFlowchart', sid= v['nextSID'], sVersion=v['version'], sProgram=v['program'], sLevel=v['level'], sCourse=v['course'] ) }}" >
                    <button type="submit" class="btn btn-secondary" type="button" id="rightButton"><i class="fas fa-chevron-right"></i></button>
                 </form>
             </td>
         </tr>
         </table>



    </div>

    <div class="container" style="padding-right: 0px;"  id="flowchart" onload="viewFlowchart()">

    </div>

    <!-- Info Modal -->
    <div class="modal fade" id="infoFlowchart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Course Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <form id="infoFlowchartForm" action="{{ url_for('viewFlowchart', sid= sid, sVersion=v['version'], sProgram=v['program'], sLevel=v['level'], sCourse=v['course'] ) }}" method="POST" class="needs-validation" >
          <div class="modal-body">

              <div class="form-group row">
                <label for="infocourseCode" class="col-sm-3 col-form-label">Course Code</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="infocourseCode" value="">
                </div>
              </div>

              <div class="form-group row">
                <label for="infocourseTitle" class="col-sm-3 col-form-label">Course Title</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="infocourseTitle" value="">
                </div>
              </div>

              <div class="form-group row">
                <label for="infocourseProf" class="col-sm-3 col-form-label">Professor</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="infocourseProf" value="">
                </div>
              </div>

              <div class="form-group row">
                <label for="infocourseTerm" class="col-sm-3 col-form-label">Term</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="infocourseTerm" value="">
                </div>
              </div>

              <div class="form-group row">
                <label for="infocourseGrade" class="col-sm-3 col-form-label">Grade</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="infocourseGrade" value="">
                </div>
              </div>

              <div class="form-group row" id="fcomment">
                <label for="infocourseFcomment" class="col-sm-3 col-form-label">Faculty Comment</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="infocourseFcomment" value="">
                    <input type="hidden" class="form-control" name="infogradeID" id="infoGradeID" value="" >
                </div>
              </div>

              <div class="form-group row" id="rcomment">
                <label for="infocourseRcomment" class="col-sm-3 col-form-label">Review Comment</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="infocourseRcomment" value="">
                    <input type="hidden" class="form-control" name="infogradeID" id="infoGradeID" value="" >
                </div>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
            </form>
        </div>
      </div>
    </div>

{% if bEditGrade %}
    <!-- Edit Modal -->
    <div class="modal fade" id="editGradeFlowchart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Grade</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <form id="editGradeFlowchartForm" action="{{ url_for('viewFlowchart', sid= sid, sVersion=v['version'], sProgram=v['program'], sLevel=v['level'], sCourse=v['course'] ) }}" method="POST" class="needs-validation" onsubmit="return validateGrade()">
          <div class="modal-body">

              <div class="form-group row">
                <label for="courseCode" class="col-sm-3 col-form-label">Course Code</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="courseCode" value="">
                </div>
              </div>

              <div class="form-group row">
                <label for="courseTitle" class="col-sm-3 col-form-label">Course Title</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="courseTitle" value="">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputGradeFlowchart" class="col-sm-3 col-form-label">Grade</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputGradeFlowchart" name="inputGradeFlowchart" value="">
                    <p class="error" id="editGradeError"></p>
                    <input type="hidden" class="form-control" name="gradeID" id="gradeID" value="" >
                    <input type="hidden" class="form-control" name="mapid" id="mapid" value="" >
                </div>
              </div>

              <div class="form-group row" id="editfcomment">
                <label for="editcourseFcomment" class="col-sm-3 col-form-label">Faculty Comment</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="editcourseFcomment" name="editcourseFcomment" value="">
                </div>
              </div>

              <div class="form-group row" id="editrcomment">
                <label for="editcourseRcomment" class="col-sm-3 col-form-label">Review Comment</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="editcourseRcomment" name="editcourseRcomment" value="">
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
            <input type="submit" class="btn btn-success" value="Save">
          </div>
            </form>
        </div>
      </div>
    </div>
{% endif %}
<footer class="container ">
  <p class="float-right">© Algonquin College 2019-2020</p>
</footer>
{% endblock %}
